.navbar-brand{
	color: #FFFFFF !IMPORTANT;
}
.navbar-inverse {
    /* background-color: #222; */
     border-color: transparent;
}
.navbar-inverse .navbar-nav>li>a{
	color: #ffffff;
	}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.28);
	}

.navbar .active {
	background-color: rgba(255, 255, 255, 0.8);
	}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #000000;
	background-color: rgba(255, 255, 255, 0.8);
	}
.navbar-inverse .navbar-nav >li>a:hover{
	color: #000000;
	}
#navbar li{
	background-color: transparent !important;
	}
#scrollybutton{
	background-color: transparent !important;
	font-weight: bolder;
	text-shadow: 1px 1px 1px grey;
	}
#header{
	background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/pages/home/hero.large-adc255aaf7fbd3e3463650149a858beb.jpg"), linear-gradient(45deg, #503510, #C29A57 50%, #FBD391 95%);
    background-size: auto 110%;
    background-repeat: no-repeat;
	background-color: #EEDDC3 !important;
	}
.headertext{
	text-shadow: 1px 1px 1px black;
	}
.headertextsmall{
	text-shadow: 1px 1px 1px grey
	}
.scrolly{
	background-color: rgba(255, 255, 255, 0.68)
	}
.header#button{
	color: black !important;
	}
.main.style1 {
    background: #fff;
    padding-top: 29px;
}
.main.style2 ul.major-icons li .icon {
    border-color: #ffffff;
    margin-bottom: 25px;
}

header.major{
	text-align: center;
    margin-top: 20px;
	}
.image img{
	border-radius: 0px !important;
	}
.image.fit {
    display: block;
    margin: 0 auto;
    width: 50%;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  margin-top: 10px;
  vertical-align: top;
  width: 33%;
}
.icon{
	margin-bottom: 2.3em !important;
	}
div.container.marketing{
	padding-left: 1px !important;
	padding-right: 1px !important;
	}
.evaluationmethod{
	display: block;
	margin: 0 auto;
	width:65%;
	}
#footer{
	    background-image: url("images/overlay2.png"), url("images/overlay4.svg"), linear-gradient(45deg, #503510, #C29A57 50%, #FBD391 95%);
		}
a{
	border-bottom: none !important;
	}
p{
	text-indent: 35px;
	}
#methodpic{
	max-width: 50% !important;
	}